.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 1rem;
  padding: 0;
}

.SidebarItem {
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  background-color:#EAEAEA;
}

.SidebarItem button {
  background: none; 
  border: none;
  font-weight: bold
}

.Sidebar {
  height: 100%;
  width: 100%;
  /*border: 1px solid black;*/
  border-radius: 5px;
}

.BranchNavBar {
  width: 105%;
  margin-left: -1.8%;
  background-color: #212529;
  border: 2px solid #212529;
  border-radius: 5px;
}

.NavItem{
  margin: 1rem 3.5rem;
  text-decoration: none;
  font-weight: bold;
  color: white !important;
}

.ContentArea {
  margin-top: 1rem;
  margin-left: 0.4rem;
}

.Topbar {
  width: 99%;
  margin: 0.5rem;
  border-radius: 5px;
}

.OurBranches {
  width: 99%;
  height: 15vh;
  padding: 1rem;
  margin: 0.5rem;
  background-color: #c8f0ff;
  border-radius: 5px;
}

.BranchesList {
  width: 99%;
  height: 100%;
  padding: 1rem 3.5rem;
  background-color: #cecece;
  border-radius: 5px;
}

.HomeFooter {
  width: 99%;
  height: 100%;
  padding: 1rem 3.5rem;
  background-color: #cecece;
  border-radius: 5px;
}